html,body{
    height: 100%;
    width: 100%;
}
header{
box-shadow: rgba(0, 0, 0, 0.35)0px 0px 0px 15px;
}
.left img{
    width: 35px;
    height: 27px;
}
.container{
    max-width: 80vw;
    margin: auto;
}
nav ul li{
    list-style: none;
    padding: 0 12px;
}
