.flex
{
    display: flex;
}
.items-center
{
    align-items: center;
} 
.justify-center
{
    justify-content: center;    
}
.upppercase{
    text-transform: uppercase;
}
.bolder
{
    font-weight: bolder;
}